@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Playfair+Display:ital,wght@1,700&family=Roboto&display=swap");

.project-container img {
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 580px;
  height: auto;
}

html {
  background-color: #fbeaff;
}

header a {
  color: #503181;
  font-weight: bolder;
}

html {
  scroll-behavior: smooth;
}

.about-container {
  display: flex;
  flex-direction: column;
}

nav div {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  display: flex;
}

nav {
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
  animation: 1.3s ease-out 0s 1 slideInFromTop;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
}

.nav-links {
  align-items: center;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.nav-links li {
  margin-left: 15px;
  margin-right: 15px;
}

.nav-links li a {
  box-shadow: inset 0 0 0 0 #503181;
  border-radius: 4px;
  margin: 0 -0.25rem;
  padding: 0.25rem 0.5rem;
  transition: color 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
}

.nav-links a:hover {
  box-shadow: inset 100px 0 0 0 #503181;

  color: white;
}

.project-links li a {
  display: inline-block;
  transition: transform;
  transition-duration: 0.5s;
}

.project-links li a:hover {
  transform: scale(1.2);
}

.project-links li a:hover > span {
  transform: rotate(45deg);
}

a span {
  font-size: 15px;
  display: inline-block;
  transition-property: transform;
  transition-duration: 0.5s;
}

nav img {
  height: 80px;
  transition-property: transform;
  transition-duration: 0.5s;
}

nav img:hover {
  transform: scale(1.3);
}

.tech-icon {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.skills {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.about-info {
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 85%;
  background-color: #503181;
  color: #fbeaff;
  padding: 15px;
}

h1 {
  text-align: center;
  color: #503181;
  font-size: 1.6rem;
  font-family: "Roboto";
  font-weight: 800;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.about-info img {
  margin-top: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

span {
  margin-top: 3px;
  font-size: 0.6rem;
}

.skills i {
  font-size: 3rem;
}

.about-photo {
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

.project-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.project-info {
  margin-top: -10px;
  margin-bottom: 40px;
  border-radius: 5px;
  font-family: "Roboto";
  color: white;
  background-color: #503181;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.project-links {
  font-weight: bold;
  font-size: 18px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
}

.project-links a {
  color: #fbeaff;
  text-decoration: none;
}

h2 {
  padding-top: 5px;
  font-size: 1.2rem;
  margin: auto;
}

.welcome-content p {
  text-align: center;
  font-size: 8vw;
  color: #503181;
  margin-bottom: 25px;
  margin-top: 25px;
  font-family: "Playfair Display";
}

.welcome-content {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  padding-bottom: 50px;
}

.flex-header {
  display: flex;
  align-content: center;
}

.flex-header div {
  display: flex;
  flex-grow: 1;
  height: 2px;
  align-self: center;
  margin: 0 20px;
  background-color: #503181;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.my-job {
  animation: 1.3s ease-out 0s 1 slideInFromRight;
}

.my-name {
  animation: 1.3s ease-out 0s 1 slideInFromLeft;
}

@media (min-width: 1085px) {
  .about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .project-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    column-gap: 20px;
  }

  .project-container img {
    border-radius: 4px;
    width: 50%;
    height: auto;
  }

  .project-info {
    margin: 0;
    max-height: 180px;
    min-width: 450px;
  }

  .project-container:nth-child(odd) {
    flex-direction: row-reverse;
  }
}
